
% /////////////// HEADER //////////////////// %
\input{header}

\begin{document}


%\section{ Route }
%\input{route}


\begin{reportTab}{ Speed trends _PROTOCOL_ }


% //////////////////////////////////////////////////////////////////////////// %
% ///  DESCRIPTION   ///////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %
 
\begin{reportTabItem}{Description} 

This test measures the data transfer trend of a long lasting connection using
the _PROTOCOL_ protocol. It priodically tries to send segments of prefixed size
using the open connection finally plotting a time trend of the overall speed
and a graph of the per segment speed distribution histogram. It can be used to
monitor the network throughput fluctuations caused by daily traffic congestion.
A total of _samples_ segments are sent for each of the selected size to collect
the statistical values for each measure.

\end{reportTabItem}

% //////////////////////////////////////////////////////////////////////////// %
% ////   COMMAND  //////////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Command}
The command prompted in the software client to perform the test was:
\begin{lstlisting}
_recipe_command_
\end{lstlisting}
\end{reportTabItem}



% //////////////////////////////////////////////////////////////////////////// %
% ///   PLOTS    ///////////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Plotted results}
\centerline{
\includegraphics[[width=0.49\textwidth]]{distr-trend.eps}
\includegraphics[[width=0.49\textwidth]]{distr-speed.eps}
}
\end{reportTabItem}




% //////////////////////////////////////////////////////////////////////////// %
% ////   ANALISYS OF RESULTS   /////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

% \begin{reportTabItem}{Analisys}
% \end{reportTabItem}


\vspace{1cm}
\end{reportTab}
\end{document}

