
% /////////////// HEADER //////////////////// %
\input{header}

\begin{document}


%\section{ Route }
%\input{route}


\begin{reportTab}{ TCP/UDT Speed spread }


% //////////////////////////////////////////////////////////////////////////// %
% ///  DESCRIPTION   ///////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %
 
\begin{reportTabItem}{Description} 

This test shows the throughput spread of the per segment speed using TCP and
UDT protocols. This can be used to check the behavior of the two different
protocols to face the network congestion and the multiple channels transfer. A
set of sine segmented signals are sent from the client and stored in a MDSplus
tree at the server side. Each segment brings _segments_ [KB] of signal data and
the a total of _samples_ segments are sent for each of the _channels_ channels.

\end{reportTabItem}

% //////////////////////////////////////////////////////////////////////////// %
% ////   COMMAND  //////////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Command}
The command prompted in the software client to perform the test was:
\begin{lstlisting}
_recipe_command_
\end{lstlisting}
\end{reportTabItem}




% //////////////////////////////////////////////////////////////////////////// %
% ///   PLOTS    ///////////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Plotted results}
\centerline{
 \includegraphics[[width=0.49\textwidth]]{distr-tcp-speed.pdf}
 \includegraphics[[width=0.49\textwidth]]{distr-udt-speed.pdf}
}
\end{reportTabItem}



% //////////////////////////////////////////////////////////////////////////// %
% ////   ANALISYS OF RESULTS   /////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

% \begin{reportTabItem}{Analisys}
% \end{reportTabItem}



\vspace{1cm}
\end{reportTab}
\end{document}

