
% /////////////// HEADER //////////////////// %
\input{header}

\begin{document}


%\section{ Route }
%\input{route}


\begin{reportTab}{ Speed trends }


% //////////////////////////////////////////////////////////////////////////// %
% ///  DESCRIPTION   ///////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %
 
\begin{reportTabItem}{Description} 

This test measures the data transfer spread

\end{reportTabItem}

% //////////////////////////////////////////////////////////////////////////// %
% ////   COMMAND  //////////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Command}
The command prompted in the software client to perform the test was:
\begin{lstlisting}
_recipe_command_
\end{lstlisting}
\end{reportTabItem}




% //////////////////////////////////////////////////////////////////////////// %
% ///   PLOTS    ///////////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Plotted results}
\centerline{
 \includegraphics[[width=0.49\textwidth]]{distr-tcp-speed.eps}
 \includegraphics[[width=0.49\textwidth]]{distr-udt-speed.eps}
}
\end{reportTabItem}



\vspace{1cm}
\end{reportTab}
\end{document}

