



Route in tcp to host: _HOSTNAME_  ---  _TARGET_HOST_

\begin{verbatim}
 _route_tcp_
\end{verbatim}



Route in udp to host: _HOSTNAME_  ---  _TARGET_HOST_

\begin{verbatim}
 _route_tcp_
\end{verbatim}

