
% /////////////// HEADER //////////////////// %
\input{header}

\begin{document}


%\section{ Route }
%\input{route}


\begin{reportTab}{ TCP/UDT Throughput vs Segment size }


% //////////////////////////////////////////////////////////////////////////// %
% ///  DESCRIPTION   ///////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %
 
\begin{reportTabItem}{Description} 

This test measures the data transfer troughput between two MDSplus endpoints
using TCP and UDT protocols. The latter was introduced in the mdsip MDSplus
server to ease the effect of large RTT levels that characterize long distant
connections.
The transmission content is here represented by signal segments. Segments are
MDSplus objects that were designed to cluster signals in many shorter fragments
and they are particularly suited to be network handled.
~
The software is set to send many uncorrelated parallel streams of segments (
channels in the following ) each collected into a single signal at the target
server. In the figures below the total speed reached by those channels is
plotted against the per segment size for both protocols.

\end{reportTabItem}




% //////////////////////////////////////////////////////////////////////////// %
% ////   COMMAND  //////////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Command}
The command prompted in the software client to perform the test was:
\begin{lstlisting}
_recipe_command_
\end{lstlisting}
\end{reportTabItem}




% //////////////////////////////////////////////////////////////////////////// %
% ///   PLOTS    ///////////////////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Plotted results}
\centerline{
\includegraphics[[width=0.49\textwidth]]{size-tcp.eps}
\includegraphics[[width=0.49\textwidth]]{size-udt.eps}
}
\end{reportTabItem}




% //////////////////////////////////////////////////////////////////////////// %
% ////   NUMERICAL RESULTS   ///////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Numerical results}
\centerline{
\begin{minipage}{0.49\linewidth} 
 \begin{center}
 \reportcsvfile{size-tcp.csv} \\
 \tiny
 The software is set to send many parallel streams in TCP
 \end{center} 
\end{minipage}
\begin{minipage}{0.49\linewidth}
 \begin{center}
 \reportcsvfile{size-udt.csv} \\
 \tiny
 The software is set to send many parallel streams in UDT
 \end{center} 
\end{minipage}
}
\end{reportTabItem}


% //////////////////////////////////////////////////////////////////////////// %
% ////   ANALISYS OF RESULTS   /////////////////////////////////////////////// %
% //////////////////////////////////////////////////////////////////////////// %

\begin{reportTabItem}{Analisys}

The connection presents a RTT of: \texttt{_ping_result_}. 

The maximum TCP connection speed is [$]_tcp_max_y_[$] [[MBps]], achieved using
[$]_tcp_max_x_[$] [[KB]] size segments, while the UDT protocol gives a maximum
throughput of [$]_udt_max_y_[$] [[MBps]] using segments of size
[$]_udt_max_x_[$] [[KB]].



\end{reportTabItem}





\vspace{1cm}
\end{reportTab}
\end{document}

